@using Isen.DotNet.Projet.Library.Models.Implementation;
@using Isen.DotNet.Projet.Library.Repository.Interfaces;
@{
    ViewData["Title"] = "PI (détail)";
}
@inject IAdresseRepository _adresseRepository;

@inject ICategorieRepository _categorieRepository;
@model PI

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/city/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Detail">
            <input type="hidden" value="@Model?.Id" asp-for="Id" />
            <div>
                <label for="Nom" class="control-label">Nom du PI :</label>
                <input type="text" class="form-control"
                    id="Nom" placeholder="Nom du PI"
                    value="@Model?.Nom" asp-for="Nom" />
            </div>
            <br />
            <div>
                <label for="Descriptif" class="control-label">Descriptif du PI :</label>
                <input type="text" class="form-control"
                    id="Descriptif" placeholder="Descriptif du PI"
                    value="@Model?.Descriptif" asp-for="Descriptif" />
            </div>

 <br />

            <div>
                <label for="CategorieID">
                    Categorie : 
                </label>
                @Html.DropDownListFor(
                    // Champ du modèle (quelle ville faut-il sélectionner)
                    // Le moteur Razor sait que p est une Personne
                    // grace à @model PI
                    p => p.CategorieID,
                    // Remplissage de la liste
                    new SelectList(
                        // Liste des entités qui peuplent la liste
                        // voir @using et @inject en haut de fichier
                        _categorieRepository.GetAll(), 
                        // Champ de clé
                        "Id", 
                        // Champ d'affichage
                        "Nom"),
                    // Item par défaut
                    "<Sélectionnez une categorie>",
                    // Classe CSS
                    // Le @ n'est pas celui de Razor mais celui du C#
                    // Si on veut nommer une classe ou un champ avec un 
                    // mot clé du langage, on le fait précéder d'un @
                    new { @class = "form-control" })
            </div>

            <br />

            <div>
                <label for="AdresseID">
                    Adresse : 
                </label>
                @Html.DropDownListFor(
                    // Champ du modèle (quelle ville faut-il sélectionner)
                    // Le moteur Razor sait que p est une Personne
                    // grace à @model PI
                    p => p.AdresseID,
                    // Remplissage de la liste
                    new SelectList(
                        // Liste des entités qui peuplent la liste
                        // voir @using et @inject en haut de fichier
                        _adresseRepository.GetAll(), 
                        // Champ de clé
                        "Id", 
                        // Champ d'affichage
                        "Nom"),
                    // Item par défaut
                    "<Sélectionnez une adresse>",
                    // Classe CSS
                    // Le @ n'est pas celui de Razor mais celui du C#
                    // Si on veut nommer une classe ou un champ avec un 
                    // mot clé du langage, on le fait précéder d'un @
                    new { @class = "form-control" })
            </div>

            <br />
            <input type="submit" class="btn btn-primary" value="Valider" />
            <a class="btn btn-default" 
                asp-controller="PI" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>