@using Isen.DotNet.Projet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Adresse (détail)";
}
@model Adresse

<div class="row">
    <div class="col-md-12">
        <h1>Adresse <small>/Adresse/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Detail">
            <input type="hidden" value="@Model?.Id" asp-for="Id" />
            <div>
                <label for="Nom" class="control-label">Nom de l'Adresse :</label>
                <input type="text" class="form-control"
                    id="Nom" placeholder="Nom de l'Adresse'"
                    value="@Model?.Nom" asp-for="Nom" />
            </div>
            <br />
            <div>
                <label for="CodePostal" class="control-label">Code Postal de l'Adresse :</label>
                <input type="long" class="form-control"
                    id="CodePostal" placeholder="Code Postal de l'Adresse"
                    value="@Model?.CodePostal" asp-for="CodePostal" />
            </div>
            <br />
            <div>
                <label for="Lattitude" class="control-label">Lattitude de l'Adresse :</label>
                <input type="text" class="form-control"
                    id="Lattitude" placeholder="Lattitude de l'Adresse"
                    value="@Model?.Lattitude" asp-for="Lattitude" />
            </div>
            <br />
            <div>
                <label for="Longitude" class="control-label">Longitude de l'Adresse :</label>
                <input type="text" class="form-control"
                    id="Longitude" placeholder="Longitude de l'Adresse"
                    value="@Model?.Longitude" asp-for="Longitude" />
            </div>
            <br />
            <br />
            <input type="submit" class="btn btn-primary" value="Valider" />
            <a class="btn btn-default" 
                asp-controller="Adresse" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>